<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>lilydaleheights.macoslaps.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/macOSLAPS</string>
  </array>
  <!-- Execute on load and try every 60 sec if crashed or exit code is not 0 -->
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
    <key>Crashed</key>
    <true/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>60</integer>
  <!-- Execute as per calendar schedule -->  
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Minute</key>
      <integer>30</integer>
      <key>Hour</key>
      <integer>9</integer>
    </dict>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>14</integer>
    </dict>
  </array>
  <!-- Record errors only because output is recorded to /Library/Logs/macosLAPS.log-->
  <key>StandardErrorPath</key>
  <string>/tmp/macOSLAPS.txt</string>     
</dict>
</plist>